@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
body {
    background-image: url(../imagenes/ViajesNacionales/backgraund.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.encabezado {
    background-image: url(../imagenes/ViajesNacionales/banner.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.logo {
    margin-top: 15px;
    margin-left: 200px;
    width: 60px;
    height: 60px;
}
.izquierda {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}
.titulopagina {
    color: black;
    text-align: center;
    text-decoration:none;
    font-size: 23px;
    margin-top: 26px;
}
ul {
    list-style:none;
    display: block;
}
.MenuPrincipal > li {
    float:left;
    padding : 0px;
    margin-top: 30px;
    margin-right: 100px;
    font-size: 18px;
}
.MenuPrincipal li a {
    color: black;
    text-decoration:none;
    display:block;
}
.MenuPrincipal li a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.MenuPrincipal li ul {
    display:none;
    position:absolute;
    min-width:140px;
    z-index: 20;
}
.MenuPrincipal li:hover > ul {
    display:block;
    color: black;
    background-color: azure;
}
.MenuPrincipal li ul li {
    position:relative;
    
}
.submenunacionales > li{
    border: 1px solid black;
    padding: 0px;
    margin: 2px;
}
.SubmenuInternacionales > li {
    border: 1px solid black;
    padding: 0px;
    margin: 2px;
}
/**/
.cuerpo{
    background-color: white;
    width: 70%;
    margin: 3% auto;
    padding-top: 3%;
}

.uno{
    margin: 0% auto;
    width: 90%;
    background-color: white;
    padding-bottom: 20px;
    position: relative;

}
.uno img{
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.uno img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

article h1{
    font-size: 50px;
    text-align: center;
}
.fecha{
    margin: 50px;
    padding: 50px;
    justify-content: space-between;


    border: solid 1px black;
    border-radius: 10px;



    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.fecha:hover{
    border: solid 2px rgb(17,131,124);
    background-color: rgb(231,244,243);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.fecha .precio{
    float: right;
    margin-top: 15px;
}
.unou a{
    text-decoration: none;
    color: black;
}
/**/