@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
body {
    background-image: url(../imagenes/ViajesNacionales/backgraund.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.encabezado {
    background-image: url(../imagenes/ViajesNacionales/banner.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.logo {
    margin-top: 15px;
    margin-left: 200px;
    width: 60px;
    height: 60px;
}
.izquierda {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}
.titulopagina {
    color: black;
    text-align: center;
    text-decoration:none;
    font-size: 23px;
    margin-top: 26px;
}
ul {
    list-style:none;
    display: block;
}
.MenuPrincipal > li {
    float:left;
    padding : 0px;
    margin-top: 30px;
    margin-right: 100px;
    font-size: 18px;
}
.MenuPrincipal li a {
    color: black;
    text-decoration:none;
    display:block;
}
.MenuPrincipal li a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.MenuPrincipal li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.MenuPrincipal li:hover > ul {
    display:block;
    color: black;
    background-color: azure;
}
.MenuPrincipal li ul li {
    position:relative;
}
.submenunacionales > li{
    border: 1px solid black;
    padding: 0px;
    margin: 2px;
}
.SubmenuInternacionales > li {
    border: 1px solid black;
    padding: 0px;
    margin: 2px;
}
.Pestaña {
    width: 100%;
    position: fixed;
    float: right;
  }
  .Viajes {
    width: 2%;
    height: 2%;
    float: right;
  }
  .InicioSesion {
    width: 2%;
    height: 2%;
    margin-left: 15px;
    float: right;
  }
h2 {
    background-image: url(../imagenes/Inicio/BannerInicio.png);
    width: 995%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.guias {
    justify-content: space-evenly;
}
.GuiaTuristica{
    background-image: url(../imagenes/Inicio/GuiasTuristicas.jpg);
    width: 580px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.MejoresOpciones {
    background-image: url(../imagenes/Inicio/MejoresDestinos.jpg);
    width: 580px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
div {
    display: flex;
    flex-direction: row;
}
nav {
    width: 10%;
}
.destinos1 {
    margin: 10px;
	padding: 15px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.destinos2 {
    margin: 10px;
	padding: 15px;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.Destino1 {
    border-radius: 15px;
    background: white;
    margin-right: 10px;
	padding: 10px;
    width: 50%;
	display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.Destino2 {
    border-radius: 15px;
    background: white;
	padding: 10px;
    width: 50%;
	display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.Destino3 {
    border-radius: 15px;
    background: white;
    margin-right: 10px;
	padding: 10px;
    width: 50%;
	display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.Destino4 {
    border-radius: 15px;
    background: white;
	padding: 10px;
    width: 50%;
	display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.destinos1 img {
    border-radius: 15px;
    width: 250px;
	height: 130px;
    margin: 5px;
}
.destinos2 img {
    border-radius: 15px;
    width: 250px;
	height: 130x;
    margin: 5px;
}